services:
  app:
    # build:
    #   context: .
    #   dockerfile: docker/php/Dockerfile
    image: sahilguptamm1/laravel-postgres:1.0
    container_name: laravel_app
    working_dir: /var/www
    volumes:
      - .:/var/www
    depends_on:
      - postgres

  redis:
    image: redis:7-alpine
    container_name: laravel_redis
    ports:
      - "6379:6379"

  web:
    image: nginx:alpine
    container_name: laravel_nginx
    ports:
      - "8001:80"
    volumes:
      - .:/var/www
      - ./docker/nginx:/etc/nginx/conf.d
    depends_on:
      - app

  postgres:
    image: postgres:16
    container_name: laravel_postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: laravel
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: secret
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
